.popup__tooltip-wrapper {
  background-color: #fff;
  min-width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

@media screen and (max-width: 550px) {
  .popup__tooltip-wrapper {
    min-width: 280px;
    width: calc(100% - 40px);
  }
}