.authentication__submit {
  background-color: #fff;
  height: 50px;
  margin: 215px 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  cursor: pointer;
  transition: opacity 1s ease-in;
}

.authentication_submit:hover {
  opacity: 0.85;
}

@media screen and (max-width: 450px) {
  .authentication__submit {
    margin-top: 173px;
  }
}