.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  background: url("../../../images/close-icon.svg");
  min-width: 40px;
  min-height: 40px;
  border: 0;
  padding: 0;
  background-size: 100% 100%;
  cursor: pointer;
  transform: rotate(45deg);
  transition: opacity 1s ease-in;
  outline: none;
}

@media screen and (max-width: 550px) {
  .popup__close {
    min-width: 24px;
    min-height: 24px;
    right: 0px;
  }
}

.popup__close:hover {
  opacity: 0.6;
}
