.profile__wrapper {
  display: flex;
  align-items: baseline;
  margin: 62px 0 16px 0;
  min-width: 100%;
}

@media screen and (max-width: 550px) {
  .profile__wrapper {
    margin-bottom: 14px;
    margin-top: 30px;
  }
}
