.card__delete-button {
  min-width: 18px;
  min-height: 20px;
  border: none;
  background: url("../../../images/delete.svg") center no-repeat;
  padding: 0;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
  transition: opacity 1s ease-in;
}

.card__delete-button:hover {
  opacity: 0.6;
}
