.popup__error_visible {
  display: block;
  margin: 5px auto 0;
  color: #ff0000;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  min-width: 358px;
}

.popup__error_visible:first-of-type {
  margin-bottom: 13px;
}

.popup__error_visible:last-of-type {
  margin-bottom: 31px;
}
