@import url('./__delete-button/card__delete-button.css');
@import url('./__delete-button/_hidden/card__delete-button_hidden.css');
@import url('./__image/card__image.css');
@import url('./__text-container/card__text-container.css');
@import url('./__label/card__label.css');
@import url('./__like-button/card__like-button.css');
@import url('./__likes/card__likes.css');

.card {
  max-width: 100%;
  border-radius: 10px;
  background-color: #fff;
  font-size: 0;
  position: relative;
}
