.profile__user-name {
  color: white;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.15;
  padding: 0;
  margin: 0 18px 0 0;
  max-width: 373px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 920px) {
  .profile__user-name {
    font-size: 32px;
    max-width: 285px;
  }
}

@media screen and (max-width: 550px) {
  .profile__user-name {
    font-size: 22px;
    margin-right: 10px;
    margin-left: auto;
  }
}
